:root {
    --main-bg-color: #222;
    --text-color: #fff;
    --secondary-bg-color: #333;
    --radio-border-color: #ccc;
    --checked-radio-bg-color: #ccf;
    --button-bg-color: #555;
    --button-hover-bg-color: #777;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
}

body.light {
    --main-bg-color: #fff;
    --text-color: #222;
    --secondary-bg-color: #eee;
    --radio-border-color: #555;
    --checked-radio-bg-color: #33f;
    --button-bg-color: #ccc;
    --button-hover-bg-color: #aaa;
}

h1 {
    color: #ddd;
    margin-top: 0;
}

.title-theme {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-theme h1 {
    margin: 0;
}

#theme-toggle-btn {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.moon-sun {
    margin-right: 10px; /* Adjust as needed */
}

div.body {
    margin: 5% auto 0; /* Top margin 5%, auto for left and right, 0 for bottom */
    width: auto;
    max-width: 700px;
    background-color: var(--secondary-bg-color);
    border-radius: 40px;
    padding: 40px 4% 20px;
}


* {
    margin: 20px;
    border: none;
}

legend {
    color: #ccc;
    font-size: 1.2em;
}

div.radio {
    display: flex;
    justify-content: center;
}

div.radio label {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 10px;
}

div.radio label input {
    display: none;
}

div.radio label span {
    border: 1px solid var(--radio-border-color);
    width: 30px;
    height: 30px;
    position: absolute;
    text-align: center;
    border-radius: 100%;
    font-size: 14pt;
    margin-top: -1px;
    margin-left: -15px;
}

div.radio input:checked + span {
    background: var(--checked-radio-bg-color);
    border-color: var(--checked-radio-bg-color);
}

label[for="length_slider"],
label[for="romanizedInput"],
label[for="difficultyRadio"],
label[for="languageSelect"],
label[for="typeSelect"] {
    display: block;
    margin-top: 10px;
    color: #ccc;
    font-size: 1.2em;
}

input[type="range"] {
    width: 80%;
    margin: 0 auto;
    display: block;
}

button {
    background-color: var(--button-bg-color);
    color: #888;
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 130;
    height: 50;
    overflow: hidden; 
}

button.home {
    width: 130;
    height: 50;
    padding: 0;
    border: none;
    background: none;
}


button:hover {
    background-color: var(--button-hover-bg-color);
}

#wordDisplay {
    display: none;
}

#wordDisplay p {
    font-size: 1.5em;
}

input[type="text"], input[type="password"] {
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 10px;
}

form {
    background-color: var(--secondary-bg-color);
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-size: 1em;
    color: var(--text-color);
}

form input[type="text"], form input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 10px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
}

form button[type="submit"] {
    margin-right: 0;
    margin-left: 0;
}

form button:hover {
    background-color: var(--button-hover-bg-color);
}

select {
    width: 35%;
    margin: 0 auto;
    display: block;
    padding: 10px;
    font-size: 1em;
    border-radius: 10px;
    background-color: var(--secondary-bg-color);
    color: var(--text-color);
    border: 1px solid var(--radio-border-color);
}


/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
    border-radius: 10px;
    position: relative;
}

.close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tabs {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.tablinks {
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    font-size: 17px;
    transition: 0.3s;
}

.tablinks:hover {
    background-color: #ddd;
}

.tablinks.active {
    background-color: #ccc;
}

.tabcontent.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    color: #222;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}

.tabcontent {
    display: none;
    padding: 20px;
    text-align: center;
}

.tabcontent table {
    margin: 0 auto;
    border-collapse: collapse;
    text-align: center;
}

.tabcontent table td {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1.2em;
}

.tabcontent table td b {
    display: block;
    font-size: 1.5em;
    margin-bottom: 5px;
}
